{
  "settings": [
    {
      "provider": "{{DDNS_SETTINGS_PROVIDER}}",
      "zone_identifier": "{{DDNS_SETTINGS_ZONE_IDENTIFIER}}",
      "domain": "{{DDNS_SETTINGS_DOMAIN}}",
      "ttl": {{DDNS_SETTINGS_TTL}},
      "token": "{{DDNS_SETTINGS_TOKEN}}",
      "ip_version": "{{DDNS_SETTINGS_IP_VERSION}}",
      "ipv6_suffix": "{{DDNS_SETTINGS_IPV6_SUFFIX}}"
    }
  ]
}